  <!-- navbar -->
  <div class="navbar bg-base-100 shadow-sm px-16">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href="/">Climate Solutions</a>
    </div>
    <div class="navbar-center hidden sm:flex">
      <!-- Menu items -->
      <ul class="menu menu-horizontal px-1">
        <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects"> View Projects </a></li>
        <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about"> About </a></li>
        <li>
        </li>
      </ul>
    </div>
  </div>